<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Url1" value="https://www.baidu.com/"></add>
    <add key="Url2" value="https://www.baidu.com/"></add>
    <add key="Url3" value="https://www.baidu.com/"></add>
    <add key="Url4" value="https://www.baidu.com/"></add>
    <add key="Url5" value="https://www.baidu.com/"></add>
    <add key="Url6" value="https://www.baidu.com/"></add>
  </appSettings>
</configuration>